@import 'page_bundles/mixins_and_variables_and_functions';

.circle {
  width: $gl-spacing-scale-3;
  height: $gl-spacing-scale-3;
  border: 1px solid var(--gray-300, $gray-300);
  border-radius: $avatar-radius;
  @include gl-display-inline-block;

  &-enabled {
    border: 1px solid var(--indigo-800, $indigo-800);
    background-color: var(--indigo-600, $indigo-600);
  }
}

@include media-breakpoint-down(sm) {
  .actions-cell {
    div {
      width: 100% !important;
      text-align: center !important;
    }
  }
}
